@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
a{
    text-decoration: none;
    color:inherit;
}
#header{
    position:fixed;
    height:40px;
    width:100vw;
    display: flex;
    align-items: center;
    z-index: 20;
    opacity:0;
    transition: opacity 2s;
    transition: color 300ms;
    transition: background-color 300ms;
}
.header{
    background-color: black;
    color:white;
    border-bottom: 1px rgb(0, 0, 0) solid;
}
.rev-header{
    background-color: white;
    color:black;
    border-bottom: 1px rgb(146, 146, 146) solid;
}
.selected >*{
    text-decoration: underline;
}
.tab{
    margin: 0px 5px;
    padding: 5px;
}
body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
#revwrapper{
    flex:1;
}

#revbutton{
    float:right;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.buttonrevstate{
    color:white;
    background-color: black;
    border: 1px solid white;
}

#footer{
    transition: color 300ms;
    transition: background-color 300ms;
    width:100vw;
    display:flex;
    justify-content: space-between;
}
.rev-footer{
    background-color: black;
    color:white;
    border-top: 1px rgb(0, 0, 0) solid;
}
.footer{
    border-top: 1px rgb(146, 146, 146) solid;
    background-color: white;
}
.content{
    height:calc(100vh - 40px);
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top:40px
}
.main{
    flex:1;
}
#castwrapper{
    display: flex;
    flex-direction: column;
}
.reverse-wrapper{
    background-color: black;
    color:white;
}
.cast{
    flex: 1;
    display: flex;
    overflow: hidden;
    transition: color 300ms;
    transition: background-color 300ms;
}
.cast>div{
    flex: 1;
}
.castimg{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
}
#nicholas>.castimg{
    background-image: url("images/nicholas.png");
    filter: grayscale(100%);
}
#nathan>.castimg{
    background-image: url("images/nathan.png");
}
.casttext >*{
    padding: 10px
}
.flex-reverse{
    flex-direction: row-reverse;
}
.footertext>p{
    padding:7px;
}
p{
    margin:0px;
}
.main{
    display: flex;
}
.half{
    height:100%;
    flex: 1;
    transition: color 300ms;
    transition: background-color 300ms;
}
.black{
    background-color: black;
}
.white{
    background-color: white;
}
.video{
    position: absolute;
    top: 33%;
    left: 50%;
    margin-left: -365px;
}
.aboutgrid{
    padding: 5px 40px 40px 40px;
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3em;
    column-gap: 3em;
}
.gridcontent{
    border:1px solid rgb(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    display: flex;
    flex-direction: column;
    transition-duration: 300ms;
}
.gridcontent:hover{
    transform: scale(1.05);
}
.gridimg{
    margin: 20px 20px 0px 20px;
    height: 250px;
    flex-shrink:0;
}
.gridimg>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gridtext{
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gridtext>*{
    margin: 10px 5px 5px 5px;
}
.gridtext>h1{
    font-size: 40px;
}
.gridtext>h2{
    font-size: 16px;
}
.titletext{
    text-align: center;
    width: 80vw;
    mix-blend-mode: difference;
    color: white;
}
.titlewrapper{
    position: absolute;
    margin-top:15px;
    left: 10%;
}
#cover{
    width:100vw;
    height:100vh;
    position:fixed;
    background-color: black;
    z-index: 30;
    opacity:1;
    transition: all 1.3s ease-in-out 0s;
}
#title{
    font-weight: bold;
    font-size: 40px;
}
.titlesection>*{
    text-align: center;
    padding: 0px 200px;
}
.inspotitle{
    font-size: 40px;
    font-weight: bold;
}
.inspodesc{
    font-size: 20px;
}
